---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}



<!-- begin main -->
<main class='main'>

<h2 class="main__title ">// Custom form elements </h2>

<!-- begin main__item -->
<div class='main__item main__item_right'>



{% include "partials/_slider.html" %}


<!-- end slider -->
</div>
<!-- end main__item -->
<!-- begin slider -->





<!-- begin main__item -->
<div class='main__item main__item_left'>


{% include "partials/_select.html" %}



</div>
<!-- end main__item -->

</main>
<!-- end main -->



{% endblock %}
