---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}



<!-- begin main -->
<main class='main'>


<!-- begin main__item -->
<div class='main__item main__item_right'>
<div class='slider'>

{% include "partials/_slider.html" %}

</div>
<!-- end slider -->
</div>
<!-- end main__item -->
<!-- begin slider -->





<!-- begin main__item -->
<div class='main__item main__item_left'>
<!-- begin select -->
<div class='select'>

{% include "partials/_select.html" %}

</div>
<!-- end select -->

</div>
<!-- end main__item -->

</main>
<!-- end main -->



{% endblock %}
