

  <!-- begin select -->
  <div class='select'>
  
  <!-- begin select__item -->
  <div class='select__item'>
  
  <select name="pickNameForYourPet" id="picky" class="js-select">
  <option value="Titania">Titania</option>
  <option value="Miranda">Miranda</option>
  <option value="Ariel">Ariel</option>
  <option value="Cordelia">Cordelia</option>
  <option value="Oberon">Oberon</option>
  {# <option value="Pak">Pak</option>
  <option value="Kaliban">Kaliban</option>
  <option value="Cupidon">Cupidon</option>
  <option value="Margarita">Margarita</option>
  <option value="Setebos">Setebos</option>
  <option value="Perdita">Oberon</option> #}
  </select>

  </div>
  <!-- end select__item -->

  </div>
  <!-- end select -->