<div class='slider'>
  <!-- begin slider__item -->
  <div class='slider__item'>
    <!-- begin slider__input -->
    <div class='slider__input'>
      <input type="text" class="js-rs-change" />
    </div>
    <!-- end slider__input -->
    <!-- begin slider__range -->
    <div class='slider__range js-range-slider'>
      <!-- begin range -->
      <div class='range'>
        <!-- begin range__item -->
        <div class='range__item range__item_handle'>

          <!-- begin slide-handle -->
          <div class='slide-handle js-slide-handle'>
{# 
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Слой_1" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 21 32" style="enable-background:new 0 0 21 32;" xml:space="preserve">
              <path style="fill:#FF6F2B;" d="M0,0h21v25c0,0-10,7-10,7c0.4,0-1.4,0-1.1,0c0,0-10-7-10-7V0z" />
              <path style="fill:#FFFFFF;" d="M10,9h1v11h-1V9z" />
            </svg> #}
          </div>
          <!-- end slide-handle -->


        </div>
        <!-- end range__item -->


        <!-- begin range__item -->
        <div class='range__item'>

          <!-- begin ruller -->
          <div class='ruller'>


            <!-- begin ruller__item -->
            <div class='ruller__item js-ruller'>


              <?xml version="1.0" encoding="utf-8"?>
              <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 360 20" style="enable-background:new 0 0 360 20;" xml:space="preserve">

                <rect style="fill:#E3E3E3;" width="1" height="20" />
								 <rect style="fill:#E3E3E3;" x="6" width="1" height="6" />
								  <rect style="fill:#E3E3E3;" x="13" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="19" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="25" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="31" width="1" height="20" />
            	 <rect style="fill:#E3E3E3;" x="37" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="44" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="50" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="56" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="62" width="1" height="20" />            
                <rect style="fill:#E3E3E3;" x="68" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="75" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="81" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="87" width="1" height="6" />
								<rect style="fill:#E3E3E3;" x="93" width="1" height="20" />
                <rect style="fill:#E3E3E3;" x="99" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="106" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="112" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="118" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="124" width="1" height="20" />            
                <rect style="fill:#E3E3E3;" x="130" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="137" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="143" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="149" width="1" height="6" />
								 <rect style="fill:#E3E3E3;" x="155" width="1" height="20" />
                <rect style="fill:#E3E3E3;" x="161" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="168" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="174" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="180" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="186" width="1" height="20" />            
                <rect style="fill:#E3E3E3;" x="192" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="199" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="205" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="211" width="1" height="6" />
								 <rect style="fill:#E3E3E3;" x="217" width="1" height="20" />
                <rect style="fill:#E3E3E3;" x="223" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="230" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="236" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="242" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="248" width="1" height="20" />             
                <rect style="fill:#E3E3E3;" x="254" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="261" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="267" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="273" width="1" height="6" />
								<rect style="fill:#E3E3E3;" x="279" width="1" height="20" />
                <rect style="fill:#E3E3E3;" x="285" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="292" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="298" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="304" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="310" width="1" height="20" />            
                <rect style="fill:#E3E3E3;" x="316" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="323" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="329" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="334" width="1" height="6" />
								  <rect style="fill:#E3E3E3;" x="340" width="1" height="20" />
                <rect style="fill:#E3E3E3;" x="346" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="353" width="1" height="6" />
                <rect style="fill:#E3E3E3;" x="359" width="1" height="6" />
              </svg>


            </div>
          
					<!-- begin ruller__labels -->
					<div class='ruller__labels'>
						<!-- begin labels -->
						<div class='labels'>
						<span class="labels__min js-label-min"></span>
						<span class="labels__max js-label-max"></span>
						</div>
						<!-- end labels -->
					</div>
					<!-- end ruller__labels -->

          </div>
          <!-- end ruller -->
        </div>
        <!-- end range__item -->

      </div>
      <!-- end range -->





    </div>
    <!-- end sider__range -->


  </div>

  <!-- begin slider__item -->
  <div class='slider__item'>

    {#
    <!-- begin slider__input -->
    <div class='slider__input'>
      <input type="text" class="js-rs-change" />
    </div>
    <!-- end slider__input -->


    <!-- begin ruller__item -->
    <div class='ruller__item js-ruller-slider'>

    </div>
    <!-- end ruller__item -->#}




  </div>
  <!-- end slider__item -->

</div>
