

<!-- begin slider__item -->
<div class='slider__item'>


<!-- begin slider__input -->
<div class='slider__input'>
  <input type="text" class="js-rs-change">
</div>
<!-- end slider__input -->


<!-- begin slider__range -->
<div class='slider__range js-range-slider'>

</div>
<!-- end slider__range -->




</div>
<!-- end slider__item -->



<!-- begin slider__item -->
<div class='slider__item'>


<!-- begin slider__input -->
<div class='slider__input'>
  <input type="text" class="js-rs-change">
</div>
<!-- end slider__input -->


<!-- begin slider__range -->
<div class='slider__range js-range-slider'>

</div>
<!-- end slider__range -->




</div>
<!-- end slider__item -->